.root {
    -fx-app-focus-color: #cc6112;
    -fx-accent: -fx-app-focus-color;
    -main-theme-color: #424242;
    -light-main-theme-color: #696969;
    -text-color: #e6e6e6;
    -fx-focus-color: -fx-app-focus-color;
    -fx-background-color: -main-theme-color;
    -fx-font-size: 14px
}

.label{
    -fx-text-fill: -text-color;
}

.check-box {
    -fx-text-fill: -text-color;
}


.button{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: -light-main-theme-color;
    -fx-text-fill: #e6e6e6;
}

#exitButton{
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-background-color: transparent;
}

#exitButton:hover{
    -fx-background-color: #de0000;
    -fx-background-radius: 0 6 0 0;
}

.button:hover{
    -fx-background-color: -fx-app-focus-color;
}

.text-field{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: #bababa;
}

.text-field:focused{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: -fx-app-focus-color;
    -fx-border-width: 2px;
}

.column-header {
    -fx-background-color: -light-main-theme-color;
    -fx-font-weight: normal;
}

.list-view, .table-view{
   -fx-background-color: -main-theme-color;
   -fx-border-color: -light-main-theme-color;
}

.table-cell, .list-cell{
    -fx-text-fill: -text-color;
}

.table-row-cell, .list-cell{
    -fx-background-color: -main-theme-color;
    -fx-table-cell-border-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0px 0px 0px 7px;
}

.table-row-cell:focused, .list-cell:focused{
    -fx-background-color: -fx-app-focus-color;
    -fx-table-cell-border-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0px 0px 0px 7px;
}

.menu-item{
    -fx-background-color: -main-theme-color;
}

#mainPanel{
    -fx-background-radius: 6 6 4 2;
    -fx-border-radius: 6 6 4 2;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
}

.column,
.column-header{
    -fx-border-color: #616161;
}

.table-view .filler{
 -fx-background-color: -main-theme-color;
 -fx-border-color:  -light-main-theme-color;
}


.menu-bar {
  -fx-background-color: -main-theme-color;
}